<a href="https://colab.research.google.com/github/SteBaum/First_Colab_saving/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive

drive.mount("/content/drive/")

Mounted at /content/drive/

In [3]:
#cloning repo
!git clone https://github.com/SteBaum/First_Colab_saving

fatal: destination path 'First_Colab_saving' already exists and is not an empty directory.

##Variables and functions

###Basic operations

In [4]:
print(1+2)

3

list of natural number $\mathbb{Z}$

In [5]:
#integer is a number in Z
#A float is a decimal number
#the type of an operation can be checked using 'type'
type(1+1.5)

float

In [ ]:
#
1/2.

In [10]:
10*10

100

###Concatination

In [13]:
#Concatinate string can be done using one or two quaotation marks
'Hello'+ ' World'

'Hello World'

In [16]:
#concatinate strings and numbers
'hello'+'3'

'hello3'

In [17]:
#variation to concatinate strings and numbers
print('hello',1)

hello 1

In [21]:
#Declaring the variables
name='bob'
age=20

In [18]:
#variation to concatinate strings and numbers

"Hello, {}. You are {}.".format(name,age)

'Hello, bob. You are 20.'

In [20]:
#variation to concatinate strings and numbers using a fstring

f"Hello, {name}. You are {age}."

'Hello, bob. You are 20.'

In [22]:
#multiply strings and numbers
10*'Hello'

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [25]:
#fisrt function concatination
#you cannot concatinate strings and numbers
def concatinate_str_number(a,b):
  b = str(b)
  return a+b

In [26]:
concatinate_str_number(name, age)

'bob20'

In [31]:
#Second concatination function
#the function checks the type of all variables and transforms it into strings
def concatinate_str_nb(nb,my_str):
  try:
      return str(nb)+my_str
  except:
    isinstance(my_str,str) is False or isinstance(nb,float) is false
    return str(nb)+str(my_str)

In [28]:
# A third concatination function
def concat_number(a,b):
  print('{}{}'.format(a,b))

In [29]:
result = concat_number(age, name)

20bob

In [32]:
result2 = concatinate_str_nb(age,name)

In [33]:
result2

'20bob'

If you want to **reuse** a function you need to use the return function
print only if the function is used once

**Avoid reusing** the names defined in the functions as name of variables (this avoids confusion)

don't use the default name (e.g. int, str)